h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}

.far {
    font-size: 30px;
    float: right;
    
   
}

.btn {
    float: left;

    
}

img{

    object-fit: cover;
    object-position: center center;

}

.fav{
    font-size: 17px;
    float: right;
}

.card-img-top1{
    height: 600px;
}

.card-img-top2{
    height: 300px;
}

.card-img-top3{
    height: 300px;
    width: 100%;
}

.card-img-top4{
    height: 300px;
    
}

.card-img-top5{
    height: 390px;
    width: 100%
}

.card-img-top6{
    width: 100%;
    height: 200px;
  
}

.card-img-top7{
    height: 320px;
    width: 100%;
}

.logo{
    float: left;
    height: 50px;
}

.fas{
    float: right;
}

